/* ESERCIZIO 1 */

.ex-1-square {
  transition: background-color 1.5s;
}

.ex-1-square:hover {
  background-color: red;
}

/* /ESERCIZIO 1 */

/* ESERCIZIO 2 */

.ex-2-square {
  transition: width 2s;
}

.ex-2-square:active {
  width: 100%;
}

/* /ESERCIZIO 2 */

/* ESERCIZIO 3 */

.ex-3-square {
  transition: border-radius 0.7s;
}

.ex-3-square:hover {
  border-radius: 50%;
}

/* /ESERCIZIO 3 */

/* ESERCIZIO 4 */

.ex-4-square {
  transition: opacity 0.8s;
}

.ex-4-square:hover {
  opacity: 0;
}

/* /ESERCIZIO 4 */

/* ESERCIZIO 5 */

.ex-5-square {
  transition: all 2s;
}

.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(0.5);
}

/* /ESERCIZIO 5 */

/* ESERCIZIO 6 */

.ex-6-img:hover {
  filter: grayscale(100%);
}

/* /ESERCIZIO 6 */

/* ESERCIZIO 7 */

.ex-7-img {
  transition: filter 1.2s;
}

.ex-7-img:hover {
  filter: grayscale(80%);
}

/* /ESERCIZIO 7 */

/* ESERCIZIO 8 */

.ex-8-img {
  transition: all 2s;
}

.ex-8-img:hover {
  border-radius: 20px;
  filter: grayscale(75%);
}

/* /ESERCIZIO 8 */

/* ESERCIZIO 9 */

.ex-9-img {
  transition: all 2s;
}

.ex-9-img:hover {
  transform: scale(1.5);
  filter: grayscale(50%);
  border-radius: 20px;
}

/* /ESERCIZIO 9 */

/* ESERCIZIO 10 */

.ex-10-icon {
  animation: spin-icon 1s infinite linear;
}

@keyframes spin-icon {
  from {
    transform: rotate (0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* /ESERCIZIO 10 */

/* ESERCIZIO 11 */

.ex-11-icon:hover {
  animation-name: rotate-icon;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes rotate-icon {
  0% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* /ESERCIZIO 11 */

/* ESERCIZIO 12 */

a.ex-12-button:hover .ex-12-top-white {
  animation: left-and-right 2s infinite linear;
}

@keyframes left-and-right {
  0% {
    left: 10%;
  }
  50% {
    left: 69%;
  }
  100% {
    left: 10%;
  }
}

a.ex-12-button:hover .ex-12-bottom-white {
  animation: right-and-left 2s infinite linear;
}

@keyframes right-and-left {
  0% {
    right: 10%;
  }
  50% {
    right: 69%;
  }
  100% {
    right: 10%;
  }
}

/* /ESERCIZIO 12 */

/* ESERCIZIO 13 */
a.ex-13-button:hover .ex-13-top-white {
  animation: top-complete 2s infinite linear;
}

@keyframes top-complete {
  25% {
    left: 85%;
    top: -10px;
  }
  50% {
    left: 85%;
    top: 100%;
  }
  75% {
    left: -15%;
    top: 100%;
  }

  90% {
    left: -15%;
    top: -10px;
  }
}

a.ex-13-button:hover .ex-13-bottom-white {
  animation: bottom-complete 2s infinite linear;
}

@keyframes bottom-complete {
  25% {
    bottom: -10px;
    right: 85%;
  }

  50% {
    bottom: 100%;
    right: 85%;
  }

  75% {
    bottom: 100%;
    right: -15%;
  }

  90% {
    bottom: -10px;
    right: -15%;
  }
}

/* /ESERCIZIO 13 */
